<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/home}">Scrum App</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li >
                    <a href="#" th:href="@{/home}">HOME</a>
                </li>
                
               <!--   <li >
                    <a href="#" th:href="@{/activity}">Activity</a>
                </li>
                
                 <li >
                    <a href="#" th:href="@{/scrum}">About Scrum</a>
                </li>-->
                 
          	  <li >
                    <a href="#" th:href="@{/user/edit}">VIEW PROFILE</a>
                </li> 
                
                <li >
                    <a href="#"  th:if="${role eq 'ADMIN'}" th:href="@{/registration}">REGISTER</a>
                </li>
                
                
                <li >
                    <a href="#" th:if="${role eq 'ADMIN'||role eq 'POWNER'||role eq 'SMASTER'}"th:href="@{/project}">CREATE PROJECT</a>
                </li>
                
             
            </ul>
            <ul class="nav navbar-nav navbar-right">
            
             	<li >
                    <a href="#" th:href="@{/login}">Sign In</a>
                </li>
            
                <li >
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
</body>
</html>