<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>My Scrum App</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<meta charset="UTF-8">
<title>Insert title here</title>

<body style="background-color: #cacaca;">
<div th:replace="fragments/header :: header">&nbsp;</div>

<p>
Scrum is a framework used by teams to manage their work. Scrum implements the principles of Agile as a concrete set of artifacts, practices, and roles.
This article provides a basic description of Scrum. At the end, you’ll find helpful resources if you want to dig in more.
<br />
<br />
<p>
The Scrum lifecycle
<br />
The following diagram details the Scrum lifecycle. Scrum is iterative. The entire lifecycle is completed in fixed time-period called a Sprint. A Sprint is typically 2-4 weeks long. 
<br /><br />
Scrum Roles
<br /><br />
<p>
Scrum prescribes three specific roles…
<br /><br />
>Product Owner
<br /><br />
<p>
Responsible for what the team is building, and why they’re building it. The product owner is responsible for keeping the backlog up-to-date and in priority order.
<br /><br />
Scrum Master
<br /><br />
<p>
Responsible to ensure the scrum process is followed by the team. Scrum masters are continually on the lookout for how the team can improve, while also resolving impediments (blocking issues) that arise during the sprint. Scrum masters are part coach, part team member, and part cheerleader.
<br /><br />
Scrum Team
<br /><br >
<p>
These are the individuals that actually build the product. The team owns the engineering of the product, and the quality that goes with it.
 



</head>

</body>
</html>